body {
    font-family: Roboto, Ubuntu;
    font-size: 0.95rem;

}

main{
    width: 90%;

    margin-left: auto;
    margin-right: auto;
}
nav{
    display: flex;
    justify-content:center; 
    align-items: flex-start
}
.title{
    margin-top:18px;
    margin-left: 8px;
    padding: 2px;
    width:80%;
    color: #034d57;
    text-align: center;
    border:#071b99 1px solid;
}
.brdr{
  border: #071b99 1px solid;
}
section{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    width: fit-content;
  list-style: none;
}
.limenu{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-bottom: #14737f 1px solid;
}
a{
    text-decoration: none;
    color:#071b99;
    font-weight: bold;
}
a:hover{
    color:#7400af;


}

.listOrder{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  
}
input{
    width: 200px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #07a4ec;
    padding-left: 8px;
    padding-right: 8px;
    color:#286991;
    font-size: 1.2rem;
}
input:focus{
    outline: none;
   
}
label{
    color: #696969;
    font-weight: 600;
}
button{
    width: 90px;
    height: 45px;
    
    border: 1px solid #012086;
    border-radius: 8px;
    background-color: #111df1;
    color: aliceblue;
    font-size: 1.1rem;
}

.item-list{
    font-size: 1.12rem;

    padding: 5px;
    border:1px solid #071b99;
}
#obrigatorio{
    color: #dc0f04;
    font-weight: 600;
}